html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #5ea1f2;
}
.container {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-animation {
position: absolute;
width: 20px;
height:20px;
border-radius: 50%; /* Forme circulaire */
top:0;
left:500;
animation:blink 4s infinite;
background-color: rgb(236, 198, 12);

}

.play-button {
  cursor: pointer;
}

.play-button:hover {
  color: purple;
}

.emoji {
  flex-direction: column;
  
}

.emo {
  font-size: 5rem;
  cursor: pointer;
  user-select: node;
}

.emo:hover {
  font-size: 5rem;
  cursor: pointer;

}

.emoji-container {
  flex: 1 0 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  user-select: node;
}


.title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeOut 4s forwards;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;  /* Visibilité totale au début */
  }
  50% {
    opacity: 0;  /* Invisible à 50% de la durée */
  }
  100% {
    opacity: 1;  /* De nouveau visible à la fin */
  }}